body {
    
}
.diceDiv{
    position:relative ;
    height:300px;
    padding:10px;
    background-color:#aae8aa;
}
.dicePointer{
    width:10px;
    background-color:red;
    height:10px;
    position:absolute ;
    top:20%;
    left:45%;
    
    
}
.btnDiv{
    display:flex;
    justify-content:center;
    align-items:center;
}
button{
    margin-top:20px;
    padding:15px;
    border:0;
    box-shadow:2px 3px 2px grey;
    
    

}


