body {
    background-color:#eaf8aa;
}
.diceDiv{
    position:relative ;
    height:400px;
    padding:10px;
    background-color:#aae8aa;
    display:flex;
    flex-direction:row;
}
.dicePointer{
    width:10px;
    background-color:red;
    height:10px;
    position:absolute ;
    top:20%;
    left:45%;
    
    
}
.btnDiv{
    display:flex;
    justify-content:center;
    align-items:center;
}
button{
    margin-top:20px;
    padding:15px;
    border:0;
    box-shadow:2px 3px 2px grey;
    
    

}
.rangeDiv{
    position:absolute;
    top:40%;
    left:5%;
}
.rangeDiv input{
    width:300px;
}
.betDiv{
    position:absolute;
    top:60%;
    left:23%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center ;
    
}
.betDiv input{
    height:20px;
}
p{
    text-align:center;
}



